{:compiler
 {:load-path
  ["Assets/Arcadia/Scripts"
   "Assets/Arcadia/Libraries"],
  :assemblies "Assets/Arcadia/Compiled"
  :warn-on-reflection true
  :unchecked-math false},
 :injections (do (use 'arcadia.core)),
 :verbose false}
