{:compiler {:load-path ["Assets"]
            :warn-on-reflection true
            :unchecked-math false},
 :injections (do
               (use 'arcadia.core)
               (use 'clojure.repl)),
 :verbose true}