{;; This specifies a form that the repl will evaluate before
 ;; evaluating every input:
 
 ;; :repl/injections (use 'clojure.repl)
 :reactive? true
 
 :compiler/verbose true
 :compiler/warn-on-reflection true
 
 ;; set to true in user configuration.edn to enable automatic code
 ;; reloading when a clojure file is saved
 :reload-on-change false

 }

